.calculator{
    width: 200px;
    border: 2px blue solid;
}
.calcrow{
    display: flex;
    border: 2px red solid;
    background-color: black;
    justify-content: space-between;
}
.section{
    background: black;
    color: white;
    text-align: right;
    padding: 10px 10px;
    font-size: 30px;
}
.colorbuttons{
    font-size: 40px;
    background-color: gray;
    flex-basis: 24.5%;
}
.buttonc{
    flex-basis: 49%;
}
.button0{
    flex-basis: 73.5%;
}
.orange{
    background-color: orange;
}