body{
    background: black;
    color: white;
}
.head{
    background: rgb(92, 23, 11);
    display: flex;
    border-bottom: 20px solid rgb(175, 8, 8);
}
.master{
    color: red;
    font-family: Brush Script MT;
}
ul{
    display: inline-flex;
    padding: 10px;
    position: absolute;
    right: 200px;
    width: 300px;
    border-right: 3px solid rgb(9, 15, 1);
    padding: 10px;
}
button{
    position: absolute;
    right: 10px;
    top: 30px;
    width: 100px;
    height: 30px;
    border: 3px solid rgb(249, 250, 248);
    text-align: center;
    border-radius: 12px;
    background: rgb(221, 224, 11);
    cursor: pointer;
    color: rgb(20, 135, 235);
    box-shadow: 5px;
}
.inlines{
    padding: 5px;
}
.form[type="text"]{
padding: 30px;
size: 30%;


}
a:link{
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    background-size: 100%;
    background: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}
button:hover{
    background: red;
    color: black;
    border: black 3px solid;
}